# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
log
*.log

# Misc
.DS_Store
.fleet
.idea
debug
design
docs
samples/**/output

# Local env files
.env.*
!.env.example

# wrangler
.wrangler

package-lock.json
yarn.lock
